.content {
  display: flex;
}

.introduction {
  width: 530px;
}

.pictures {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.life-photo {
  height: 300px;
  width: 400px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .header {
    width: 100%; 
  }

  .introduction {
    width: 100%;
  }

  .content {
    display: block;
  }

  .pictures {
    display: block;
    width: 100%;
  }

  body {
    padding-left: 0;
  }
}